<!DOCTYPE html>
<html>
<head>
	<title>Client page</title>
	<link rel="stylesheet" th:href="@{/public/css/style.css}"></link>
	<script th:src="@{/public/js/script.js}"></script>
</head>
<body>
	<div id="header">
		<h1>ProductsRVT</h1>
		<a th:if="${isclient}" href="/client">My page (Client)</a>
		<a th:unless="${isclient}" href="/manufacturer">My page (Manufacturer)</a>
		<a href="/products">Products</a>
		<a href="/manufacturers">Manufacturers</a>
		<a href="/logout">Logout</a>
		<hr />
	</div>
	
	<div id="clientInfo">
	<h1 th:attr="data-clientid=${id}" th:text="${name + ' ' + surname} "></h1>
		<ul>
		<li>Address: <span th:text="${address}"></span></li>
		<li>Email: <span th:text="${email}"></span></li>
		<li><a href="/edit">Edit account info</a></li>
		</ul>
	</div>
	
		<div id="packageList" >
			<div class="packageView" th:each="package: ${packages}" th:attr="data-packageid=${package.id}">
				<div class="packageSent" th:if="${package.sent}">Confirmed</div>
				<div class="packageSent" th:unless="${package.sent}">Not confirmed</div>
				<div class="packageStatus" th:if="${package.sent}">
					<div th:if="${package.status}">Ready</div>
					<div th:unless="${package.status}">Not ready</div>
				</div>
				<table class="packageTable">
					<tr th:each="packageProduct : ${packageProducts.get(package.id)}" th:attr="data-productid=${packageProduct.product}">
						<td><a th:href="@{/product/{pid}(pid=${packageProduct.product})}" th:text="${packageProduct.product}"></a></td>
						<td th:text="${products.get(packageProduct.product).name}"></td>
						<td th:text="${#numbers.formatDecimal(products.get(packageProduct.product).price, 1, 'COMMA', 2, 'POINT')}"></td>
						<td th:if="${package.sent}" th:text="${packageProduct.quantity}"></td>
						<td th:unless="${package.sent}" class="quantityCell"><input type="number" name="quantity" min="1" th:value="${packageProduct.quantity}" th:onchange="'changeQuantity(' + ${packageProduct.product} + ', ' + ${package.id} + ');'"></td>
						<td th:unless="${package.sent}" class="removeCell"><button type="button" th:onclick="'removeProductFromPackage(' + ${packageProduct.product} + ', ' + ${package.id} + ');'">Remove</button></td>
					</tr>
				</table>
				<div class="packageButtons" th:unless="${package.sent}">
					<button type="button" th:onclick="'sendPackage(' + ${package.id} + ');'">Send</button>
					<button type="button" th:onclick="'deletePackage(' + ${package.id} + ');'">Delete</button>
				</div>
			</div>
		</div>
</body>
</html>