<!DOCTYPE html>
<html>
<head>
	<title>Edit account info</title>
	<link rel="stylesheet" th:href="@{/public/css/style.css}"></link>
	<script th:src="@{/public/js/script.js}"></script>
</head>
<body>
	<div id="header">
		<h1>ProductsRVT</h1>
		<ul>
		<li th:if="${isclient}"><a href="/client">My page (Client)</a></li>
		<li th:unless="${isclient}"><a href="/manufacturer">My page (Manufacturer)</a></li>
		<li><a href="/products">Products</a></li>
		<li><a href="/manufacturers">Manufacturers</a></li>
		<li><a href="/logout">Logout</a></li>
		</ul>
		<hr />
	</div>
	
	<div th:if="isclient">
	<form id="clientForm" name="clientForm">
			<fieldset>
			<legend>Client form</legend>
				New name<input type="text" name="name"><br>
				New surname<input type="text" name="surname"><br>
				New address<input type="text" name="address"><br>
				New email<input type="text" name="email" onchange="checkEmail('c')"><span class="emailError"></span><br>
				New password<input type="password" name="password"><br>
				New password one more time<input type="password" name="password2"><div class="passError"></div><br>
				<input type="button" value="Update" onclick="registerClient()">
			</fieldset>
	</form>
	</div>
	<div th:unless="isclient">
	
		<form id="manufacturerForm" name="manufacturerForm">
			<fieldset>
			<legend>Manufacturer form</legend>
				New name<input type="text" name="name"><br>
				New description<textarea name="description" rows="10" cols="30"></textarea><br>
				New address<input type="text" name="address"><br>
				New email<input type="text" name="email" onchange="checkEmail('m')"><span class="emailError"></span><br>
				New password<input type="password" name="password"><br>
				New password one more time<input type="password" name="password2"><div class="passError"></div><br>
				<input type="button" value="Update" onclick="editManufacturer()">
			</fieldset>
		</form>
		<br><br><br>
		<div>
		Current packer code: <span id="code" th:text="${code}"></span> <input type="button" value="Regenerate code" onclick="regenerateCode()"><br>
		</div>
	</div>
		<div id="info">
		<ul>
		<li>Password should be minimum of 8 characters</li>
		<li>Password should contain only alphanumeric characters</li>
		<li>No empty fields</li>
		</ul>
		</div>
	
</body>
</html>