<!DOCTYPE html>
<html>
<head>
	<title>Product list</title>
	<link rel="stylesheet" th:href="@{/public/css/style.css}"></link>
	<script th:src="@{/public/js/script.js}"></script>
</head>
<body>
	<div id="header">
		<h1>ProductsRVT</h1>
		<a th:if="${isclient}" href="/client">My page (Client)</a>
		<a th:unless="${isclient}" href="/manufacturer">My page (Manufacturer)</a>
		<a href="/products">Products</a>
		<a href="/manufacturers">Manufacturers</a>
		<a href="/logout">Logout</a>
		<hr />
	</div>
	
	<form name="searchProductForm" id="searchForm" >
			<input type="text" name="product">
			<input type="button" value="Search" onclick="searchProducts()">
	</form>

	<table id="table">
		<tr th:each="product: ${products}" th:attr="id=${product.id}">
			<td><a th:href="@{/product/{pid}(pid=${product.id})}" th:text="${product.id}"></a></td>
			<td th:text="${product.name}" />
			<td th:text="${product.description}" />
			<td th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}" />
			<td th:each="manufacturer: ${manufacturers}" 
			th:if="${manufacturer.id == product.manufacturer}" >
			<a th:href="@{/manufacturer/{mid}(mid=${manufacturer.id})}" th:text="${manufacturer.name}"></a>
			</td>
			<td th:text="${product.prodcode}" />
			<td th:if="${isclient == true}">
			<button type="button" th:onclick="'addToPackage(' + ${product.id} + ');'">Add to package</button>
			</td>
		</tr>
	</table>
</body>
</html>