<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/public/css/style.css}"></link>
		<script th:src="@{/public/js/script.js}"></script>
	</head>
	<body>
		<form id="clientForm" name="clientForm" >
			<fieldset>
			<legend>Client form</legend>
				<label for="name">New name</label>
				<input type="text" name="name"><br>
				<label for="surname">New surname</label>
				<input type="text" name="surname"><br>
				<label for="address">New address</label>
				<input type="text" name="address"><br>
				<label for="email">New email</label>
				<input type="text" name="email" onchange="checkEmail('c')"><span class="emailError"></span><br>
				<label for="password">New password</label>
				<input type="password" name="password"><br>
				<label for="password2">New password one more time</label>
				<input type="password" name="password2"><div class="passError"></div><br>
				<input type="button" value="Register" onclick="registerClient()">
			</fieldset>
		</form>
		<form id="manufacturerForm" name="manufacturerForm">
			<fieldset>
			<legend>Manufacturer form</legend>
				<label for="name">New name</label>
				<input type="text" name="name"><br>
				<label for="surname">New description</label>
				<textarea name="description" rows="10" cols="30"></textarea><br>
				<label for="address">New address</label>
				<input type="text" name="address"><br>
				<label for="email">New email</label>
				<input type="text" name="email" onchange="checkEmail('m')"><span class="emailError"></span><br>
				<label for="password">New password</label>
				<input type="password" name="password"><br>
				<label for="password2">New password one more time</label>
				<input type="password" name="password2"><div class="passError"></div><br>
				<input type="button" value="Register" onclick="registerManufacturer()">
			</fieldset>
		</form>
		<div id="info">
		<ul>
		<li>Password should be minimum of 8 characters</li>
		<li>Password should contain only alphanumeric characters</li>
		<li>No empty fields</li>
		</ul>
		</div>
	</body>
</html>